.product-information{
  margin-top: 20px;
  
  &__wrapper{
    width: 100%;
    background-color: $white;
    border: 1px solid $gray-300;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
  }

  &__header{
    height: 48px;
    border-bottom: 1px solid $gray-300;
    display: flex;
    padding: 0 8px;
  }
  
  &__nav{
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    text-align: center;
    padding: 12px;

    &.active{
      color: $primary;
      border-bottom: 2px solid $primary;
    }
  }

  &__content{
    padding: 20px;
  }
}